*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#component{
    display: flex;
    justify-content: center;
}
#gameboard{
    display: flex;
    flex-direction: column;
}
.board-row{
    display: flex;
}

.square{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: white;
    border: 5px solid black;
}