*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
}

#header{
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link{
  text-decoration: none;
  color: white;
  background-color: black;
}